package page

import "github.com/DimRev/Go-Htmx-Tailwind-Starter/app/layout"

templ About() {
	@layout.App() {
		<div>
			<div class="container py-4">
				<h1 class="text-xl font-bold">About page</h1>
			</div>
		</div>
	}
}
